/* =========================
   FONTS
========================= */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
    font-family: 'BebasNeueCyrillic';
    src: url('assets/fonts/bebasneuecyrillic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* =========================
   ROOT VARIABLES
========================= */

:root {
  /* COLORS */
  --color-bg: #0f0f14;
  --color-text: #ffffff;
  --color-accent: #8b5cf6;
  --color-border: #2a2a35;

  /* TYPOGRAPHY */
  --font-main: 'Inter', sans-serif;
  --font-title: 'BebasNeueCyrillic', sans-serif;

  --text-hero: 212px;
  --text-h1: 36px;
  --text-body: 20px;

  /* FONT WEIGHTS */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* LAYOUT */
  --container-width: 1400px;
  --section-padding: 120px;

  /* UI */
  --radius-pill: 300px;
  --border-default: 1px solid var(--color-border);

  /* EFFECTS */
  --transition-default: 0.3s ease;
}

/* =========================
   RESET
========================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */

body {

  font-family: var(--font-main);
  font-size: var(--text-body);
  font-weight: var(--weight-regular);
  line-height: 1.5;

  overflow-x: hidden;

  background-image: url('/assets/img/bg.webp');
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 100% auto;
}

.title {
  font-family: 'BebasNeueCyrillic';
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
background: transparent;
border: solid white 1px;
color: inherit;
padding: 23px 38px;
border-radius: 300px;
color: white;
}

.btn--arrow {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn--arrow::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("assets/img/icons/arrow-down-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.white-btn,
.navbar__white-btn {
background-color: white;
color: #0f0f14;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* =========================
   LAYOUT
========================= */

.container {
  width: 100%;
  max-width: var(--container-width);

  margin: 0 auto;
  padding: 0 30px;
}

/* =========================
   HERO
========================= */

.hero {
  position: relative;

  min-height: 112vh;

  padding: 30px 0 60px;

  background-image: url('./assets/img/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  overflow: visible;
  
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
   position: absolute;
    bottom: -100px;
    left: 15px;
    transform: scaleY(1.1);
    color: #F8EDDB;
    font-family: 'BebasNeueCyrillic', sans-serif;
    font-weight: 400;
    font-size: clamp(262px, 28vw, 370px);
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
    white-space: nowrap;
}

.hero__bottom {
  margin-top: 180px;
}

.hero__info {
  max-width: 440px;
  width: 100%;
  height: 162px;
  color: white;
  margin-top: 180px;
  margin-left: auto;
  line-height: 1.5;
}

.hero__info-text {
  margin-bottom: 20px;
}

.hero__subtitle {
  font-family: 'BebasNeueCyrillic', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0;
  text-align: center;
  color: #F8EDDB;
}

.hero__subtitle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 23px;
    margin-left: -20px;
    transform: translateY(-48px);
}

.arrow__icon {
    position: relative;

    width: 197px;
    height: 2px;

    background-color: #F8EDDB;

    flex-shrink: 0;

    margin-top: -6px;
}

.arrow__icon::after {
    content: "";

    position: absolute;

    right: 0;
    top: 50%;

    width: 10px;
    height: 10px;

    border-top: 2px solid #F8EDDB;
    border-right: 2px solid #F8EDDB;

    transform: translateY(-50%) rotate(45deg);
}

/* =========================
   NAVBAR
========================= */

.navbar {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 20px;

  list-style: none;
}

.navbar__slogan {
  font-family: 'BebasNeueCyrillic', sans-serif;
  margin-left: 231px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0;
  text-transform: uppercase;
}

.navbar--btn {
    background: transparent;
    border: solid white 1px;
    color: inherit;
    padding: 10px 50px;
    border-radius: 300px;
    color: #ffffff;
}

.navbar__btn--primary {
    background-color: white;
    color: black;
}

.navbar__slogan {
  margin-left: auto;
   color: #fff;
  mix-blend-mode: soft-light;
  font-weight: 400;
}

/* =========================
   PROBLEMS
========================= */


.problems {
  margin-top: 150px;
}

.problems__info {
  display: flex;
  gap: 243px;
}

.problems__info-left,
.problems__info-right {
  max-width: 544px;
}

.problems__info-left {
  margin-top: 50px;
}

.problems__info-right {
  margin-right: auto;
  margin-top: 207px;
}

.btn--problems {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  color: black;
  width: 100%;
  margin-top: 20px;
}

.btn--problems::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}

/* =========================
   SOLUTION
========================= */

.solution {
  margin-top: 203px;
}

.solution__title {
  text-align: center;
}

.solution__info {
  width: 100%;
  max-width: 818px;
  min-height: 807px;
  border-radius: 100px;
  margin-top: 213px;
  margin-left: 525px;
  background-image: url(/assets/img/bg-solution.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 50px;
}

.solution__info-bottom {
  margin-top: 392px;
  width: 543px;
}

.btn--solution {
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
   background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px);
  color: white;
}

/* =========================
   FORMATS
========================= */

.formats {
  margin-top: 356px;
}

.formats__title {
  text-align: center;
  margin-bottom: 50px;
}

.formats__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    gap: 14px;
    width: 100%;
}

.formats-card {
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: 50px;
    padding: 30px;

    height: 434px;
    width: 665px;

    border: solid black 1px;
    backdrop-filter: blur(2px);
}

.formats-card__content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.formats-card__title,
.formats-card__text {
    line-height: 1.2;
}

.formats-card::before {
    position: absolute;
    top: 32px;
    right: 32px;

    font-family: 'BebasNeueCyrillic', sans-serif;
    
    font-size: 36px;
    color: #000000;

    text-decoration: underline;
}

.formats-card:nth-child(1)::before {
    content: "01";
}

.formats-card:nth-child(2)::before {
    content: "02";
}

.formats-card:nth-child(3)::before {
    content: "03";
}

.formats-card:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.formats-card:last-child .btn {
    margin-top: 20px;
}

.formats-card__last {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 43px;

    margin-top: auto;
}

.formats-card__textblock {
    display: flex;
    flex-direction: column;
}

.btn--formats {
  border-color: black;
  color: black;
}

.btn--formats::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}


/* =========================
  ABOUT
========================= */

.about {
  margin-top: 150px;
  border-radius: 70px;
  background-image: url("assets/img/about-bg.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  color:#fff;
  box-shadow: 0 10px 40px rgba(0,0,0,0.45);
  min-height: 120vh;
}

.about .container {
  padding-left: 94px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__button-list {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.about__button-list:hover {
    transform: scale(1.03);
}

.about__button-list img {
  width: 280px;
}

.about__flex-top,
.about__flex-bottom {
  display: flex;
}

.about__flex-top {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.about__flex-info {
    flex: 1;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 1.1;
    font-size: 18.5;
}

.about__title {
    flex: 0 0 315px;
    text-align: right;
}

.about__flex-bottom {
  margin-top: 340px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    gap: 100px;
}

.about__bottom-left {
    flex: 1;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__button-list {
    flex: 0 0 315px;
    background: transparent;
    border: none;
    padding: 0;
}

.about__title {
  color: #5d1d0e;
  font-weight: 400;
}

.about__flex-info h3,
.about__flex-info p {
    margin: 0;
}

.about__flex-info p {
    font-size: 18.5px;
}

.about__study-title {
  font-family: 'Inter', sans-serif;
  text-transform: none;
  font-weight: 700;
}

.about__info-study {
    display: flex;
    flex-direction: column;
    gap: 20px;
    white-space: nowrap;
}

/* =========================
  REVIEWS
========================= */

.reviews {
  margin-top: 150px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 142px;
}

.reviews__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.reviews__icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-80px);
}

.reviews__icon--left {
    background-image: url("assets/img/icons/arrow-left.svg");
}

.reviews__icon--right {
    background-image: url("assets/img/icons/arrow-right.svg");
}

.reviews__slider {
    overflow: hidden;
    width: 100%;
}

.reviews__list {
    display: flex;
    transition: transform 0.4s ease;
    margin: 0 auto;
}

.reviews__list-item {
    min-width: 100%;
    display: flex;
    gap: 14px;
    justify-content: center;
}

.reviews__list-photo {
    width: 540px;
    height: 420px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 53% 35%;
    flex-shrink: 0;
}

.reviews__list-info {

    flex: 0 0 611px;
    height: 423px;

    border-radius: 50px;
    padding: 21px 20px 30px 30px;
    justify-content: center;

    background: white;
    color: #111;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.reviews__list-info p {
  font-size: 18px;
  text-align: left;
  line-height: 122%;
  letter-spacing: 0;
}

/* =========================
  BEGINNERS
========================= */

.beginners {
  margin-top: 149px;
      background: linear-gradient(
        180deg,
        rgba(196, 157, 121, 0) 6.85%,
        rgba(202, 168, 143, 0.7) 42.15%,
        #BC7E50 100%
    );

    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

.beginners__title {
  margin-bottom: 50px;
}

.beginners__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: start;
    line-height: 1.1;
}

.beginners__card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.beginners__card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.beginners__text {
    grid-column: 1 / -1;
    margin: 30px 0;
    width: 613px;
    line-height: 1.2;
}

.beginners__card:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

.beginners__card:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
}

.beginners__info-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.beginners__info {
    max-width: 915px;
    margin: 0 auto;
    line-height: 1.2;
}

.btn--beginners {
    display: block;
    margin: 40px auto 0;
}

.beginners__card {
    width: 100%;
}

.beginners__card {
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: 50px;
    padding: 30px;

    height: 434px;
    width: 665px;

    color: white;

    border: solid white 1px;

    background-size: cover;
    background-position: center;
}

.beginners__card::before {
    position: absolute;
    top: 32px;
    right: 32px;

    font-family: 'BebasNeueCyrillic', sans-serif;
    
    font-size: 36px;
    color: white;

    text-decoration: underline;
}

.beginners__card:nth-child(1)::before {
    content: "01";
}

.beginners__card:nth-child(2)::before {
    content: "02";
}

.beginners__card:nth-child(4)::before {
    content: "03";
}

.beginners__card:nth-child(5)::before {
    content: "04";
}

.beginners__card:nth-child(1) {
    background-image: url("assets/img/grid-1.webp");
}

.beginners__card:nth-child(2){
    background-image: url("assets/img/grid-2.webp");
}

.beginners__card:nth-child(4) {
    background-image: url("assets/img/grid-3.webp");
    background-position: 70% 73%;
}

.beginners__card:nth-child(5) {
    background-image: url("assets/img/grid-4.webp");
    background-position: 70% 37%;
}

.beginners-card__content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.btn--beginners {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-bottom: 35px;
  color: #000000;
  border-color: #000000;
  margin-left: 33%;
}

.btn--beginners::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}

/* =========================
  PRICING
========================= */

.pricing {
  margin-top: 150px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 30px;
}

.pricing-table {
    font-family: "BebasNeueCyrillic", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 221px 85px;
}

.pricing-table td {
    white-space: nowrap;
}

.pricing-table td:last-child {
    text-align: right;
}

.pricing-table td:first-child {
    text-align: left;
}

.btn--pricing {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-bottom: 35px;
  color: #000000;
  border-color: #000000;
  margin-left: 33%;
}

.btn--pricing::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}

/* =========================
  FAQ
========================= */

.faq {
  margin-top: 150px;
}

.faq__title {
  margin-bottom: 50px;
  margin-left: 242px;
}

.faq-question {
    width: 897px;

    padding: 18px 21px 18px 21px;

    background: #fff;

    border: 1px solid #000;
    border-radius: 50px;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.faq-item {
    width: 897px;
    margin: 0 auto 12px;
}

.faq-question::-webkit-details-marker {
    display: none;
}

.faq-question::after {
    content: "";
    width: 45px;
    height: 45px;

    flex-shrink: 0;

    background-image: url("assets/img/icons/arrow-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.2s ease;
}

.faq-item[open] .faq-question::after {
    transform: rotate(-90deg);
}

.faq-answer {
    margin: 10px 0 0;

    padding: 22.5px 44px 22.5px 20px;

    background: #E3A883;
    border: 1px solid #000;

    border-radius: 30px;
}

/* =========================
  FOOTER
========================= */

.footer {
  margin-top: 150px;
  padding-top: 63px;
  position: relative;
  overflow: hidden;
    border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.footer::before {
    content: "";
    position: absolute;
    inset: 0;
   background-image: url('./assets/img/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: inherit;
  filter: blur(10px) brightness(0.9) saturate(0.85) contrast(0.95);
  transform: scale(1.1);
  z-index: 0;
}

.footer .container {
    position: relative;
    z-index: 1;
}

.footer__link-list {
    width: 246px;
    margin-left: 53px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.footer__title {
    margin-top: 280px;
}

.footer__title {
  position: relative;
    font-size: 376px;
    font-family: "BebasNeueCyrillic";
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    color: transparent;
    -webkit-text-stroke: 5px white;
    white-space: nowrap;
    text-align: center;
     display: flex;
    align-items: baseline;
    justify-content: center;
}

.photo-o {
    width: 148px;
    height: 287px;

    display: inline-block;
    vertical-align: baseline;
    transform: translateY(9px);
}

.footer__privacy-list {
    position: relative;
   width: 100vw;
   left: 50%;
   transform: translateX(-50%);
    max-width: none;
    margin-top: 23px;
    font-size: 20px;

    color: white;

    display: flex;
    gap: 70px;

    padding: 0 37px;

    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__subtitle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 23px;
    margin-left: -30px;
    transform: translateY(280px);
}

/* =========================
   MODAL
========================= */

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    z-index: 9999;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal__overlay {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
}

.modal__window {
    position: relative;

    width: 1290px;
    height: 693px;

    background: #545078;

    border: 2px solid #E9A56E;
    border-radius: 100px;

    z-index: 2;

    padding: 30px 40px 85px 41px;
}

.modal__documents {
    display: flex;
    gap: 11px;
}

.modal__document-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__document,
.modal__empty {
    width: 396px;
    height: 578px;

    border-radius: 70px;

    object-fit: cover;

    flex-shrink: 0;
}

.modal__empty {
    background: #D9D9D9;
}

.modal__title {
    margin-top: 30px;
    padding-bottom: 30px;
    line-height: 0.9;

    font-family: "BebasNeueCyrillic";
    font-size: 36px;

    color: white;
}

/* =========================
   CERTIFICATE VIEWER FIX
========================= */

.certificate-viewer {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.25s ease;

    z-index: 10000;
}

.certificate-viewer.active {
    opacity: 1;
    visibility: visible;
}

.certificate-viewer__overlay {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.85);
}

.certificate-viewer__image {
    position: relative;

    max-width: 90vw;
    max-height: 90vh;

    width: auto;
    height: auto;

    object-fit: contain;

    border-radius: 40px;

    z-index: 2;

    transform: rotate(-90deg);
}

/* CLICKABLE DOCUMENT */

.modal__document--clickable {
    cursor: pointer;

    transition: transform 0.3s ease;
}

.modal__document--clickable:hover {
    transform: scale(1.02);
}

/* =========================
   INTRO-MODAL
========================= */

.modal--intro .modal__window--intro {
  width: 1290px;
  height: 676px;
  border-radius: 100px;
  background: #545078;
  border: 2px solid #E9A56E;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal__video-wrapper {
  flex-shrink: 0;
  width: 1228px;
  height: 561px;
  border-radius: 70px;
  background: #D9D9D9;

  overflow: hidden;
}

.modal__video {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  flex-shrink: 0;
}

.modal__title--intro {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;

  text-align: center;

  margin: 0;


  z-index: 2;
}







