/* =========================
   FONTS
========================= */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
    font-family: 'BebasNeueCyrillic';
    src: url('assets/fonts/bebasneuecyrillic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* =========================
   ROOT VARIABLES
========================= */

:root {
  /* COLORS */
  --color-bg: #0f0f14;
  --color-text: #ffffff;
  --color-accent: #8b5cf6;
  --color-border: #2a2a35;

  /* TYPOGRAPHY */
  --font-main: 'Inter', sans-serif;
  --font-title: 'BebasNeueCyrillic', sans-serif;

  --text-hero: 212px;
  --text-h1: 36px;
  --text-body: 20px;

  /* FONT WEIGHTS */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* LAYOUT */
  --container-width: 1400px;
  --section-padding: 120px;

  /* UI */
  --radius-pill: 300px;
  --border-default: 1px solid var(--color-border);

  /* EFFECTS */
  --transition-default: 0.3s ease;
}

/* =========================
   RESET
========================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */

body {

  font-family: var(--font-main);
  font-size: var(--text-body);
  font-weight: var(--weight-regular);
  line-height: 1.5;

  overflow-x: hidden;

  background-image: url('/assets/img/bg.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.title {
  font-family: 'BebasNeueCyrillic';
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
background: transparent;
border: solid white 1px;
color: inherit;
padding: 23px 38px;
border-radius: 300px;
color: white;
}

.btn--arrow {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn--arrow::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("assets/img/icons/arrow-down-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.white-btn,
.navbar__white-btn {
background-color: white;
color: #0f0f14;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* =========================
   LAYOUT
========================= */

.container {
  width: 100%;
  max-width: var(--container-width);

  margin: 0 auto;
  padding: 0 30px;
}

/* =========================
   HERO
========================= */

.hero {
  position: relative;

  min-height: 135vh;

  padding: 30px 0 60px;

  background-image: url('./assets/img/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  overflow: visible;
  
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
   position: absolute;
    bottom: -110px;
    left: 40px;
    transform: scaleY(1.1);
    color: #F8EDDB;
    font-family: 'BebasNeueCyrillic', sans-serif;
    font-weight: 400;
    font-size: clamp(262px, 28vw, 360px);
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
    white-space: nowrap;
}

.hero__bottom {
  margin-top: 180px;
}

.hero__info {
  max-width: 440px;
  width: 100%;
  height: 162px;
  color: white;
  margin-top: 180px;
  margin-left: auto;
  line-height: 1.5;
}

.hero__info-text {
  margin-bottom: 20px;
}

.hero__subtitle {
  font-family: 'BebasNeueCyrillic', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0;
  text-align: center;
  color: #F8EDDB;
}

.hero__subtitle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 23px;
    transform: translateY(-23px);
}

.icon {
    position: relative;

    width: 197px;
    height: 2px;

    background-color: #F8EDDB;

    flex-shrink: 0;

    margin-top: -6px;
}

.icon::after {
    content: "";

    position: absolute;

    right: 0;
    top: 50%;

    width: 10px;
    height: 10px;

    border-top: 2px solid #F8EDDB;
    border-right: 2px solid #F8EDDB;

    transform: translateY(-50%) rotate(45deg);
}

/* =========================
   NAVBAR
========================= */

.navbar {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 20px;

  list-style: none;
}

.navbar__slogan {
  font-family: 'BebasNeueCyrillic', sans-serif;
  margin-left: 231px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0;
  text-transform: uppercase;
}

.navbar--btn {
    background: transparent;
    border: solid white 1px;
    color: inherit;
    padding: 10px 50px;
    border-radius: 300px;
    color: #ffffff;
}

.navbar__btn--primary {
    background-color: white;
    color: black;
}

.navbar__slogan {
  margin-left: auto;
   color: #fff;
  mix-blend-mode: soft-light;
  font-weight: 400;
}

/* =========================
   PROBLEMS
========================= */


.problems {
  margin-top: 150px;
}

.problems__info {
  display: flex;
  gap: 243px;
}

.problems__info-left,
.problems__info-right {
  max-width: 544px;
}

.problems__info-left {
  margin-top: 50px;
}

.problems__info-right {
  margin-right: auto;
  margin-top: 207px;
}

.btn--problems {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  color: black;
  width: 100%;
  margin-top: 20px;
}

.btn--problems::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}

/* =========================
   SOLUTION
========================= */

.solution {
  margin-top: 203px;
}

.solution__title {
  text-align: center;
}

.solution__info {
  width: 100%;
  max-width: 818px;
  min-height: 807px;
  border-radius: 100px;
  margin-top: 213px;
  margin-left: 525px;
  background-image: url(/assets/img/bg-solution.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 50px;
}

.solution__info-bottom {
  margin-top: 392px;
  width: 543px;
}

.btn--solution {
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
   background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6px);
  color: white;
}

/* =========================
   FORMATS
========================= */

.formats {
  margin-top: 356px;
}

.formats__title {
  text-align: center;
  margin-bottom: 50px;
}

.formats__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    gap: 14px;
    width: 100%;
}

.formats-card {
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: 50px;
    padding: 30px;

    height: 434px;
    width: 665px;

    border: solid black 1px;
    backdrop-filter: blur(2px);
}

.formats-card__content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.formats-card__title,
.formats-card__text {
    line-height: 1.2;
}

.formats-card::before {
    position: absolute;
    top: 32px;
    right: 32px;

    font-family: 'BebasNeueCyrillic', sans-serif;
    
    font-size: 36px;
    color: #000000;

    text-decoration: underline;
}

.formats-card:nth-child(1)::before {
    content: "01";
}

.formats-card:nth-child(2)::before {
    content: "02";
}

.formats-card:nth-child(3)::before {
    content: "03";
}

.formats-card:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.formats-card:last-child .btn {
    margin-top: 20px;
}

.formats-card__last {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 43px;

    margin-top: auto;
}

.formats-card__textblock {
    display: flex;
    flex-direction: column;
}

.btn--formats {
  border-color: black;
  color: black;
}

.btn--formats::after {
  background-image: url("assets/img/icons/arrow-down-right-black.svg");
}


/* =========================
  ABOUT
========================= */

.about {
  margin-top: 150px;
  border-radius: 70px;
  background-image: url("assets/img/about-bg.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  color:#fff;
}

.about .container {
  padding-left: 94px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__button-list {
  background: transparent;
  border: none;
  padding: 0;
}

.about__button-list img {
  width: 280px;
}

.about__flex-top,
.about__flex-bottom {
  display: flex;
}

.about__flex-top {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.about__flex-info {
    flex: 1;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.2;
}

.about__title {
    flex: 0 0 315px; /* или сколько тебе надо */
    text-align: right;
}

.about__flex-bottom {
  margin-top: 260px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
}

.about__bottom-left {
    flex: 1;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__button-list {
    flex: 0 0 315px;
    background: transparent;
    border: none;
    padding: 0;
}

.about__title {
  color: #5d1d0e;
  font-weight: 400;
}

.about__flex-info h3,
.about__flex-info p {
    margin: 0;
}

.about__study-title {
  font-family: 'Inter', sans-serif;
  text-transform: none;
  font-weight: 700;
}

.about__info-study {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* =========================
  REVIEWS
========================= */

.reviews {
  margin-top: 150px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 142px;
}

.reviews__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.reviews__icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-80px);
}

.reviews__icon--left {
    background-image: url("assets/img/icons/arrow-left.svg");
}

.reviews__icon--right {
    background-image: url("assets/img/icons/arrow-right.svg");
}

.reviews__slider {
    overflow: hidden;
    width: 100%;
}

.reviews__list {
    display: flex;
    transition: transform 0.4s ease;
}

.reviews__list-item {
    min-width: 100%;
    display: flex;
    gap: 14px;
}

.reviews__list-photo {
    width: 540px;
    height: 420px;
    border-radius: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

.reviews__list-info {
    flex: 1;

    width: 611px;
    height: 423px;

    border-radius: 50px;
    padding: 21px 20px 30px 30px;

    background: white;
    color: #111;

    display: flex;
    flex-direction: column;
    gap: 20px;
}








